.products-card{
    display: flex;
    align-items: center;
    align-content: space-between;
    gap: 5px;
    margin: 30px auto;
    width: 1300px;
}

.card1{
    text-align: center;
    border: 1px solid black;
    padding: 7px;
}
.card1 button{
    background: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid green;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
    font-size: 16px;
}
.card1 button:hover{
    background-color: green;
}

.card1 p{
    margin-bottom: 7px;
    font-family: 'Open Sans', 'Roboto', 'sans-serif';
   font-size: 1rem;
   line-height: 1.6;
  color: #333;
}

.card1 h4{
  font-size: 16px;
  font-family: 'Montserrat', 'Poppins', 'sans-serif';
  font-weight: bold;
}